.logout-container {
    background-color: var(--primary-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.logout-container button {
    background-color: inherit;
    color: #fff;
    font-size: 0.7rem;
    font-weight: 500;
    border: none;
    padding: 0.8rem 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
}

.logout-container:hover {
    transform: scale(1.02) translateY(-2px);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15), 0 4px 6px rgba(0, 0, 0, 0.10);
}

.logout-icon {
    font-size: 0.8rem;
    stroke-width: 2.5px;
}