.label-name.one {
    position: absolute;
    left: 9%;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
    transition: all ease-in 0.3s;
    font-size: 14px;
}

.label-name.two {
    position: absolute;
    left: 9%;
    top: 50%;
    color: #999;
    transform: translateY(-50%);
    transition: all 0.3s ease-in;
    font-size: 14px;
}

.label-name.one.show-error {
    color: red;
}


.label-name.focused {
    top: 0%;
    font-size: 0.6rem;
}

.password-eye-icon {
    position: absolute;
    top: 0.7rem;
    right: 0.8rem;
    cursor: pointer;
}

.eye-icon {
    color: #30157a;
}